.search {
    @import url('https://fonts.googleapis.com/css?family=Sarabun');

    *,
    *::after,
    *::before {
        margin: 0;
        padding: 0;
        box-sizing: inherit;
    }

    html {
        font-size: 62.5%;
    }

    body {
        box-sizing: border-box;
        background-color: rgba(229, 229, 229, .3);
        font-family: 'Sarabun', sans-serif;
    }

    width: 25rem;
    height: 100%;
    margin: 0 1rem;
    position: relative;

    h1 {
        margin: 2rem;
    }


    .search-bar {
        font-size: 2.4rem;
        width: 60rem;
        height: 5rem;
        border: none;
        outline: none;
        border-radius: 10rem;
        box-shadow: 0 1rem 2rem rgba(black, .1);
        padding: 2rem;
        transition: all .2s;
        transition-delay: .1s;

        &:hover {
            // width: 70rem;
        }

        &:placeholder-shown {
            opacity: .5;

        }
    }

    .search-button {
        margin-top: 30px;
        margin-left: 700px;
    }
}
