@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800);* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  margin: 0;
  background: black;
  font-family: "Montserrat", helvetica, arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.movie_card {
  position: relative;
  display: block;
  width: 1200px;
  height: auto;
  margin: 80px auto;
  overflow: hidden;
  border-radius: 10px;
}

.movie_card .info_section {
  position: relative;
  width: 100%;
  height: 100%;
  background-blend-mode: multiply;
  z-index: 2;
  border-radius: 10px;
}

.movie_card .info_section .movie_header {
  position: relative;
  padding: 25px;
  height: 40%;
}

.movie_card .info_section .movie_header h1 {
  color: white;
  font-weight: 400;
}

.movie_card .info_section .movie_header h4 {
  color: white;
  font-weight: 400;
}

.movie_card .info_section .movie_header .minutes {
  display: inline-block;
  margin-top: 15px;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.movie_card .info_section .movie_header .type {
  display: inline-block;
  color: white;
  margin-left: 10px;
}

.movie_card .info_section .movie_header .thumbnail {
  position: relative;
  float: left;
  margin-right: 20px;
  height: 280px;
  box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.5);
}

.movie_card .info_section .movie_desc {
  color: white;
  word-wrap: break-word;
}

.movie_card .info_section .movie_social {
  height: 10%;
  padding-left: 15px;
  padding-bottom: 20px;
}

.movie_card .info_section .movie_social ul {
  list-style: none;
  padding: 0;
}

.movie_card .info_section .movie_social ul li {
  display: inline-block;
  color: rgba(0, 0, 0, 0.3);
  transition: color 0.3s;
  transition-delay: 0.15s;
  margin: 0 10px;
}

.movie_card .info_section .movie_social ul li i {
  font-size: 19px;
  cursor: pointer;
}

.movie_card .blur_back {
  position: absolute;
  top: 0;
  z-index: 1;
  height: 100%;
  right: 0;
  background-size: cover;
  border-radius: 11px;
}

@media screen and (min-width: 768px) {
  .movie_header {
    width: 65%;
  }

  .movie_desc {
    width: 50%;
  }

  .info_section {
    background: linear-gradient(to right, black 60%, transparent 100%);
  }

  .blur_back {
    width: 80%;
    background-position: -100% 10% !important;
  }
}

@media screen and (max-width: 768px) {
  .movie_card {
    width: 95%;
    margin: 70px auto;
    min-height: 350px;
    height: auto;
  }

  .blur_back {
    width: 100%;
    background-position: 50% 50% !important;
  }

  .movie_header {
    width: 100%;
    margin-top: 85px;
  }

  .movie_desc {
    width: 50%;
  }

  .info_section {
    background: linear-gradient(to top, white 50%, transparent 100%);
    display: inline-grid;
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.btn {
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 0 2em;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}

.btn:hover {
  text-decoration: none;
}

.btn-2 {
  letter-spacing: 0;
  color: white;
}

.btn-2:hover,
.btn-2:active {
  letter-spacing: 5px;
  color: white;
}

.btn-2:after,
.btn-2:before {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.btn-2:hover:after,
.btn-2:hover:before {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-color: #fff;
  transition: width 350ms ease-in-out;
  width: 70%;
}

.btn-2:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}

.btn-2:focus {
  color: #049be0;
}

.cast p {
  color: white;
  word-wrap: break-word;
}

.cast-icon {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

a.btn-dark {
  text-decoration: none;
  margin-left: 35px;
}

.reserve-button {
  text-decoration: none;
  color: black;
}

